<%= form_with model: blog_post do |form| %>
  <% form.object.errors.full_messages.each do |message| %>
    <div class="error">
      <%= message %>
    </div>
  <% end %>
  <p class="mt-5 font-bold text-md">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p class="mt-5 font-bold text-md">
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <div>
    <%= form.label :published_at %>
    <%= form.datetime_select :published_at, include_blank: true %>
  </div>

  <p class="mt-5 btn btn-primary">
    <%= form.submit %>
  </p>
<% end %>