<div class="m-5">
  <%= form_with url: blog_posts_path, method: :get, local: true, id: "search-form" do |form| %>
    <%= form.text_field :search, placeholder: "Search posts or comments...", id: "search-input" %>
  <% end %>
  <h1 class="mt-5 font-bold text-lg">My Blog</h1>

  <%= link_to 'New Post', new_blog_post_path, class: 'btn btn-primary mt-5' %>

  <% if @blog_posts.empty? %>
    <p>No posts found.</p>
  <% else %>
    <% @blog_posts.each do |blog_post| %>
      <div class="blog-post mt-5 search-results">
        <h2><%= link_to blog_post.title, blog_post, class: "ml-5 font-bold text-lg" %></h2>

        <p class="ml-6"><%= blog_post.body%></p>

        <p class="mt-5">
          <%= link_to "Edit", edit_blog_post_path(blog_post), class: 'btn btn-warning' %>
          <%= button_to "Delete", blog_post, method: :delete, data: {turbo_confirm: "Are you sure?"}, class: "btn btn-primary mt-3" %>
        </p>

        <hr>

        <% blog_post.comments.each do |comment| %>
          <div class="comment mt-3">
            <p><%= comment.body %></p>
          </div>
        <% end %>

        <%= link_to 'Insert Comment', new_blog_post_comment_path(blog_post), class: 'btn btn-primary' %>
      </div>

      <hr>
    <% end %>
  <% end %>
</div>