<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <p class="notice m-3"><%= notice %></p>
      <p class="alert m-3"><%= alert %></p>
    </div>

    <div class="navbar ml-5 sm">
      <% if user_signed_in? %>
        <div class=""> 
          <div class="items-stretch">
            <% unless current_page?(new_blog_post_path) %>
              <%= link_to "New Blog Post", new_blog_post_path, class: "btn" %>
            <% end %>
            <% unless current_page?(edit_user_registration_path) %>
              <%= link_to "Profile", edit_user_registration_path, class: "btn" %>
            <% end %>
          </div>
          <div class="">
            <%= button_to 'Log out', destroy_user_session_path, method: :delete, form: { "data-turbo-frame": "_top" }, class: "btn" %>
          </div>
        </div>
      <% else %>
        <% unless current_page?(new_user_session_path) %>
          <%= link_to "Login", new_user_session_path, class: "btn" %>
        <% end %>
        <% unless current_page?(new_user_registration_path) %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn" %>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
</body>
</html>
